@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white
}

body {
  @apply bg-dark-primary
}

.app-wrapper {
  padding: 8px;

  @apply bg-dark-primary
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  
  @apply mt-3
}

.horizontal-container {
  display: flex;
  gap: 8px;
  align-items: center;
  
}

.float-right {
  margin-left: auto;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 32px;
}

h1 {
  color: white;
  font-size: 18px;
}

h2 {
  color: white;
  font-size: 16px;
}

.btn {
  padding: 8px;
  color: white;
  text-align: center;
  border-width: 1px;
  border-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply bg-dark-primary;
}

.btn-active {
  @apply bg-theme-primary;
}

.btn-selection {
  border-radius: 4px;
  height: 30px;
  
}
.btn-primary {
  color: white;
  height: fit-content;
  width: fit-content;
  padding: 4px;
  border-color: white;
  border-width: 1px;
  border-radius: 4px;

  @apply bg-theme-primary

}


.border-1 {
  border: 1px solid white;
}




.stretch {
  align-items: stretch !important;
  justify-items: stretch !important;
  justify-content: stretch !important;
  justify-items: stretch !important;
}



